---
layout: layouts/base.njk
title: {{ about.data.title }}
templateClass: tmpl-post
---
<h1>{{ about.data.title }}</h1>

{% for p in about.data.content %}
  <p>{{ p.text }}</p>
{% endfor %}


<p><a href="{{ '/' | url }}">← Home</a></p>
